<a href="https://colab.research.google.com/github/apogace/Data-612-HW-6/blob/main/Anastas_Pogace_Data_612_HW6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment for Week 6      
(Chapter 8 & 9)

## Purpose:     
This assignment is intended to help you do the following:     
1.	Advance your knowledge on working with strings
2.	Familiarize with regular expression
3.	Use of functions and .apply()

## Action Items:       
•	Working with strings.
1. Clean a column on your data set using 
regular expression methods.      
2. Store the cleaned column into another column of your data set and call it “your_col_name_cleaned”.     

  *Another data set will be provided if your data set is not appropriate to apply regular expression methods.        

•	Use of .apply() 

1.   Create a function that returns the mean, sum, mode, median, and range (separately)      
2.   Run the function into your chosen data set using the .apply() method.     
3.   Post your work on GitHub

***Anastas Pogace***

>

In [127]:
import pandas as pd
import numpy as np


df = pd.read_csv('https://raw.githubusercontent.com/frankData612/data_612/master/baseballdatabank-master/core/Salaries.csv')
df

       yearID teamID lgID   playerID    salary
0        1985    ATL   NL  barkele01    870000
1        1985    ATL   NL  bedrost01    550000
2        1985    ATL   NL  benedbr01    545000
3        1985    ATL   NL   campri01    633333
4        1985    ATL   NL  ceronri01    625000
...       ...    ...  ...        ...       ...
26423    2016    WAS   NL  strasst01  10400000
26424    2016    WAS   NL  taylomi02    524000
26425    2016    WAS   NL  treinbl01    524900
26426    2016    WAS   NL  werthja01  21733615
26427    2016    WAS   NL  zimmery01  14000000

[26428 rows x 5 columns]

1. Clean a column on your data set using regular expression methods.

In [128]:
df.count()

yearID      26428
teamID      26428
lgID        26428
playerID    26428
salary      26428
dtype: int64

In [129]:
df.salary.isnull().sum()

0

In [130]:
df.salary.value_counts

<bound method IndexOpsMixin.value_counts of 0          870000
1          550000
2          545000
3          633333
4          625000
           ...
26423    10400000
26424      524000
26425      524900
26426    21733615
26427    14000000
Name: salary, Length: 26428, dtype: int64>

2. Store the cleaned column into another column of your data set and call it “your_col_name_cleaned”.

In [131]:
df['salary_cleaned'] = df['salary'].astype(int)
df.salary_cleaned

0          870000
1          550000
2          545000
3          633333
4          625000
           ...
26423    10400000
26424      524000
26425      524900
26426    21733615
26427    14000000
Name: salary_cleaned, Length: 26428, dtype: int64

In [132]:
df.dtypes

yearID             int64
teamID            object
lgID              object
playerID          object
salary             int64
salary_cleaned     int64
dtype: object

 Use of .apply()

1. Create a function that returns the mean, sum, mode, median, and range (separately)
2. Run the function into your chosen data set using the .apply() method.

In [152]:
def SummStats1(vec):
  stats1 = np.sum(vec)
  return stats1

In [153]:
stats1 = df['salary_cleaned'].apply(SummStats1)
stats1

0          870000
1          550000
2          545000
3          633333
4          625000
           ...
26423    10400000
26424      524000
26425      524900
26426    21733615
26427    14000000
Name: salary_cleaned, Length: 26428, dtype: int64

In [135]:
def SummStats2(x):
  return np.mean(x)

In [136]:
stats2 = df['salary_cleaned'].apply(SummStats2)
stats2

0          870000.0
1          550000.0
2          545000.0
3          633333.0
4          625000.0
            ...
26423    10400000.0
26424      524000.0
26425      524900.0
26426    21733615.0
26427    14000000.0
Name: salary_cleaned, Length: 26428, dtype: float64

In [137]:
def SummStats3(x):
  return np.median(x)

In [138]:
stats3 = df['salary_cleaned'].apply(SummStats3)
stats3

0          870000.0
1          550000.0
2          545000.0
3          633333.0
4          625000.0
            ...
26423    10400000.0
26424      524000.0
26425      524900.0
26426    21733615.0
26427    14000000.0
Name: salary_cleaned, Length: 26428, dtype: float64

In [139]:
def SummStats4(x):
  return np.median(x)

In [140]:
stats4 = df['salary_cleaned'].apply(SummStats4)
stats4

0          870000.0
1          550000.0
2          545000.0
3          633333.0
4          625000.0
            ...
26423    10400000.0
26424      524000.0
26425      524900.0
26426    21733615.0
26427    14000000.0
Name: salary_cleaned, Length: 26428, dtype: float64

In [141]:
def SummStats5(x):
  return np.scipy(x)

In [142]:
stats5 = df['salary_cleaned'].apply(SummStats5)
stats5

AttributeError: ignored